@if (Model == null) {
    <text>@ViewData.ModelMetadata.NullDisplayText</text>
} else if (ViewData.TemplateInfo.TemplateDepth > 1) {
    <text>@ViewData.ModelMetadata.SimpleDisplayText</text>
} else {
    @Html.Hidden("Id");
    foreach (var property in ViewData.ModelMetadata.Properties.Where(pm => pm.ShowForDisplay && !ViewData.TemplateInfo.Visited(pm) && pm.PropertyName != "Id"))
    {
        if (property.HideSurroundingHtml)
        {
            <text>@Html.Display(property.PropertyName)</text>
        } else {
            @Html.BeginControlGroupFor(property.PropertyName)
                @Html.Label(property.PropertyName.ToSeparatedWords(), new { @class = "control-label" })
                <div class="controls">
                    @Html.Editor(property.PropertyName, new { @class = "input-xlarge" })
                    @Html.ValidationMessage(property.PropertyName, null, new { @class = "help-inline" })
		        </div>
            @Html.EndControlGroup()
        }
    }
}